// Header
.header {
  max-width: 800px;
  margin: 0px auto;
  padding: 15px 20px;
  font-weight: bold;

  // Alignment
  display: flex;
  justify-content: space-between;
  -webkit-box-pack: justify;
  align-items: center;

  > div {
    width: auto;
    display: flex;
    align-items: center;
  }
}

.header__logo {
  a {
    font-size: 18px;
    color: rgba(241, 213, 247, 0.9);
    transition: 50ms ease-in-out;
    font-weight: bold;

    &:hover {
      opacity: 0.8;
    }
  }
}

.header__links {
  justify-content: flex-end;
  font-weight: bold;

  ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;

    li {
      display: inline-block;
      margin: 0px 15px;

      a {
        color: #151414;
        font-size: 18px;
        font-weight: bold;

        &:hover {
          text-decoration: underline;
        }
      }

      &:nth-last-of-type(1) {
        margin-right: 0px;
      }
    }
  }
}

.header__links_active {
  color: rgba(241, 213, 247, 0.9) !important;
}

.footer {
  padding: 30px 0px;
  text-align: center;

  p {
    font-size: 16px;
    color: rgba(145, 142, 146, 0.9);
    font-weight: bold;
    }

    > a {
      text-decoration: none;
      color: rgba(241, 213, 247, 0.9);
    }
}
